#noteTitel {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
  outline: none;
}

#noteTitel:focus {
  border-color: #007bff; /* لون أزرق عند التركيز */
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

